{% load staticfiles %}
<html>
    <head>
        <style type="text/css"> 
            #center {
                width: 350px;
                height: 350px;

                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                
                margin: auto;
            }
        </style>

        <script type="text/javascript" src="{% static 'js/clicker.js' %}"></script>

    </head>
    <body>
        <div id="center">
            <p>
                <font face="Comic Sans MS">
                    <h1 id="count">click to start</h1>
                </font>
            </p>
            <img src="{% static 'computer.png' %}" onclick="incrementProjects();" />
        </div>
    </body>
</html>